<!DOCTYPE html>
<html>
<head>
    <title>Veterinaria</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/index.css">
<body>
    {{{body}}}
</body>
</html>
